@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body{
    font-family: 'Indie Flower', cursive;
}
.grey{
    background-color: grey;
}
.green{
    color: lightgreen;
}
.blue{
    color: rgb(46, 46, 192);
    background-color: aliceblue;
}